body {
  box-sizing: border-box;  
  font-family: Arial, Helvetica, sans-serif;
}

.menu-container {
    display: flex;
}

.menu-label {
    background-color: green;
    font-size: 1.5rem;
    padding: 4px 10px;
    display: block;
    color: black;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.menu-label:hover {
    background-color: yellowgreen;
}

.menu-label:active {
    background-color: orange;
}

.menu-options {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 150ms ease-in-out;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.menu-visible {
    transform: scaleY(1);
}

.menu-option {
    background-color: lightgrey;
    color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 4px 10px;
}

.menu-option:hover {
    background-color: darkcyan;
}

.menu-option:active {
    background-color: orangered;
}